<h1>Products</h1>




<%if @user.admin == true %>
  <%= link_to "Add Product", new_user_product_path(@user)%>
  <% @products.each do |product|%>
    <div class="product well">
      <%= link_to(user_product_path(@user, product)) do %>
        <h2><%= (product.title) %></h2>
         <%= image_tag(product.image)%>
       <% end %>
    </div>
  <% end %>
<% else %>
  <% @user.products.each do |product|%>
    <div class="product well">
      <%= link_to(user_product_path(@user, product)) do %>
        <h2><%= (product.title) %></h2>
         <%= image_tag(product.image)%>
       <% end %>
    </div>
  <% end %>
<% end %>
