<%if current_user && @user.admin %>

<div class="container">
  <h1 class="big-header" >Powells Foods Fine Products</h1>
  <p><%= link_to "Add Product", new_product_path %></p>
</div>
  <% @products.alph_order.each do |product|%>
    <div class="product well col-sm-3">
      <%= link_to(product_path(product)) do %>
        <h2><%= (product.title) %></h2>
        <h4>Price per pound: $<%= number_to_currency product.price %></h4>
         <%= image_tag(product.image)%>
       <% end %>
    </div>
  <% end %>

<% else %>
  <h1 class="big-header" >Powells Foods Fine Products</h1>
  <% @products.alph_order.each do |product|%>
    <div class="product well col-sm-3">
      <%= link_to(product_path(product)) do %>
        <h2><%= (product.title) %></h2>
        <h4>Price per pound: <%= number_to_currency product.price %></h4>
         <%= image_tag(product.image)%>
       <% end %>
    </div>
  <% end %>
<% end %>
