<h1>Products</h1>




<%if @user.admin? %>
  <%= link_to "Add Product", new_product_path(@user)%>
  <% @products.alph_order.each do |product|%>
    <div class="product well">
      <%= link_to(product_path(@user, product)) do %>
        <h2><%= (product.title) %></h2>
        <h4>Price per pound: $<%= (product.price) %>.00</h4>
         <%= image_tag(product.image)%>
       <% end %>
    </div>
  <% end %>
<% else %>
  <% @products.alph_order.each do |product|%>
    <div class="product well">
      <%= link_to(product_path(@user, product)) do %>
        <h2><%= (product.title) %></h2>
        <h4>Price per pound: <%= number_to_currency product.price %></h4>
         <%= image_tag(product.image)%>
       <% end %>
    </div>
  <% end %>
<% end %>
