<h2><%= @product.title %></h2>
<%= image_tag(@product.image)%>
<p>by: <%= @user.email%></p>
<% if @user == current_user%>
<%= link_to "Edit product", edit_user_product_path(@user, @product)%>
<%= link_to "Delete product", user_product_path(@user, @product), method: "delete"%>
<% end %>

<h4>Reviews</h4>
<%= render "review_form"%>
<ul>
  <% @product.reviews.each do |review|%>
    <% if review.id%>
      <li>
        "<%= review.comment%>" -
        <%= link_to review.user.email, user_path(review.user)%>
        <% if review.id && @current_user == review.user %>
          <%= link_to "Delete review", product_review_path(@product, review), method: "delete" %>
        <% end %>
      </li>
    <% end%>
  <% end %>
</ul>
