<h2><%= @product.title %></h2>
<%= image_tag(@product.image)%>

<div class="">
    <%if @user.admin? %>
    <%= link_to "Edit product", edit_product_path(@user, @product)%>
    <%= link_to "Delete product", product_path(@user, @product), method: "delete"%>
    <% end %>

</div>

<h4>Reviews</h4>
<%= render "review_form"%>
<ul>
  <% @product.reviews.each do |review|%>
    <% if review.id%>
      <li>
        "<%= review.comment%>" -
        <%= review.user.email%>
        <% if @user.admin == true %>
          <%= link_to "Delete review", product_review_path(@product, review), method: "delete" %>
        <% end %>
      </li>
    <% end%>
  <% end %>
</ul>
