<!DOCTYPE html>
<html>
  <head>
    <title>Powells Seafood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Powells Seafood</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <% if current_user.admin == true %>
          <h5>Currently logged in as admin</h5>
          <% end %>
        </ul>
        <ul class="nav navbar-right row">
          <% if current_user %>
           <li><%= link_to "Sign out", destroy_user_session_path, :method => "delete" %></li>
           <li><%= current_user.email %></li>
         <% else %>
           <li class="col-sm-6"><%= link_to "New Account", new_user_registration_path %></li>
           <li class="col-sm-6"><%= link_to "Log In", user_session_path %></li>
         <% end %>
        </ul>
      </div>
    </nav>

    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>
  </body>
</html>
